.span12
  - form_tag '', :method => 'post' do
    %label Login:
    %input{name: "login", type: "text", value: 'user_1'}
    %br
    %label Password:
    %input{name: "password", type: "password", value: "aaaaaaaa"}
    %br
    %input{type: "submit"}
