.alert.alert-block.alert-error
  %h4 Signature must not be blank.
  %p AuthSig checks user data against a cryptographic signature.
  %p Without that signature, AuthSig cannot verify that a url corresponds to a login/service.