.span12
  - unless @verification_presenter.errors.any?
    .alert.alert-success.alert-block
      %h4 This Identity verified!
      %h5 Details:
      %ul
        - params.each_pair do |k,v|
          %li
            %strong== #{k}:
            =v
  - if @verification_presenter.errors.any?
    %h4 Issues:
  - error_partials(@verification_presenter) do |partial_args|
    = partial *partial_args
