%ul
  %li= link_to "user_1 unsigned", url(:verify, :request, login: "user_1")
  - if current_user
    %li= link_to "current user (#{current_user.login}) unsigned", url(:verify, :request, login: current_user.login)